
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AllProducts</title>
</head>
<body>
    <a href="/Product/Create">Add Products</a> <br />
    <table align="left" border="1">
        <tr>
            <td>Id</td>
            <td>Product Name</td>
            <td>Price</td>
            <td>Categroy</td>
        </tr>
        @foreach (var data in Model)
        {
            <tr>
                <td>@data.ProductId</td>
                <td>@data.ProductName  </td>
                <td>@data.Price</td>
                @*<td>
                        <a href="/category/Edit/@data.CategoryId ">Edit</a>
                    </td>*@
                <td>
                    @data.CategoryId
                </td>
                <td>
                    <a href="/product/edit/@data.ProductId">Edit</a>
                </td>
            </tr>
        }
    </table>
</body>
</html>
